@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rancho', cursive;
}

body{
  font-family: 'Raleway', sans-serif;
}

.popup-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.7);
}

.react-confirm-alert-body {
  text-align: center;
}

.react-confirm-alert-body h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.react-confirm-alert-button-group {
  justify-content: flex-end;
}

.react-confirm-alert-button-group button {
  font-size: 16px;
}

.react-confirm-alert-button-group button:first-child{
  background: rgb(240, 82, 82, 1)
}